dandi==0.64.0
pyyaml>=6.0
h5py==3.11.0
matplotlib==3.9.2
neurosift
notebook==7.2.1
numpy==1.26.4
hdmf-zarr==0.12.0
nwbinspector==0.7.1
pandas==2.2.2
pynwb==3.1.3
regex==2024.7.24
roiextractors==0.5.8
scipy==1.14.0
joblib>=1.3
tqdm==4.66.5
scanimage-tiff-reader==1.4.1.4